language: cpp

services:
  - docker

matrix:
  include:
    - os: linux
      dist: xenial
      sudo: true
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-8
            - g++-8
            - qtdeclarative5-dev
            - libqt5websockets5-dev
            - cmake

script:
  - sudo ln -s /usr/bin/gcc-8 /usr/local/bin/gcc
  - sudo ln -s /usr/bin/g++-8 /usr/local/bin/g++
  - mkdir -p build
  - cd build
  - echo "Compile"
  - cmake ..
  - cmake --build .
  - echo "Docker"
  - docker build . --tag qt_chat